# Config File for GalaxyGen

# Maximum System Radius
MaxRadius = 10e9
# Random Position Ratio
maxWeight = 5e16
# Max number of Steps
minWeight = 1e5
# Maximum number of stars
MaxAsteroids = 36000
# Output Directory
OutputDir = /var/www/html/simoutput/output.csv
#OutputDir = /home/solarsim/output.csv